<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Admin{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="turbo-visit-control" content="reload">
    <script async="" defer="" src="{{ asset('assets/js/backend.js') }}"></script>
    <link href="{{ asset('assets/css/backend.css') }}" rel="stylesheet">
</head>
<body>
    <div class="off-canvas off-canvas-sidebar-show">
        <a class="off-canvas-toggle btn btn-primary btn-action" href="#toolbar">
            <i class="icon icon-menu"></i>
        </a>
        <div id="toolbar" class="toolbar off-canvas-sidebar minimize">
            {% include '@Linotype/Parts/toolbar.twig' with { menu: menu } %}
        </div>
        <a class="off-canvas-overlay" href="#close"></a>
        <div class="off-canvas-content">
            <div class="notif">
                {% block notif %}{% endblock %}
            </div>
            <div class="columns col-gapless h-100">
                <div id="panel" class="column col-auto h-100 oy">
                    {% block wrapper_start %}{% endblock %}
                    <div  class="panel h-100">
                        <div class="panel-header">
                            <div class="language-selector dropdown dropdown-right"><a class="btn btn-primary dropdown-toggle" tabindex="0">{{menu.lang.current}}<i class="icon icon-caret"></i></a>
                                <ul class="menu text-left">
                                    {% for id, item in menu.lang.list %}
                                        <li class="menu-item{{ item.current ? ' text-primary' }}">
                                            <a href="{{ item.path }}">{{ item.name }}</a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                            
                            {% include '@Linotype/Parts/breadcrumb.twig' with breadcrumb %}
                            
                        </div>
                        {% if block('nav') %}
                        <div class="panel-nav">
                           {% block nav %}{% endblock %}
                        </div>
                        {% endif %}
                        <div class="panel-body scroll-shadow-overlay">
                            <div class="scroll-shadow-container">
                            <div class="scroll-shadow-shadow scroll-shadow-top-radial"></div>
                            <div class="scroll-shadow-shadow scroll-shadow-bottom-radial"></div>
                            </div>
                            <div class="scroll-shadow-content">
                                <div class="scroll-shadow-cover-top"></div>
                                <div class="panel-body-content">
                                    {% block header %}{% endblock %}
                                    {% block content %}{% endblock %}
                                </div>
                                <div class="scroll-shadow-cover-bottom"></div>
                            </div>
                        </div>
                        {% if block('footer') %}
                            <div class="panel-footer">
                                {% block footer %}{% endblock %}
                            </div>
                        {% endif %}
                    </div>
                    {% block wrapper_end %}{% endblock %}
                </div>
                <div class="column h-100">
                    {% block viewer %}{% endblock %}
                </div>
            </div>
        </div>
    </div>
    <script for="window" event="onload">
    var toolbarSwitch = document.getElementById('toolbar-switch');
    toolbarSwitch.addEventListener('change', (event) => { localStorage.setItem( "linotype_toolbar_open", event.currentTarget.checked ? 'true' : 'false' ); })
    toolbarSwitch.checked = ( localStorage.getItem('linotype_toolbar_open') === 'true' );
    var panel = document.getElementById('panel');
    panel.className = panel.className + ' resizable';
    var resizer = document.createElement('div');
    resizer.className = 'resizer';
    panel.appendChild(resizer);
    resizer.addEventListener('mousedown', initDrag, false);
    var startX, startWidth;
    function initDrag(e) { e.preventDefault(); startX = e.clientX; startWidth = parseInt( document.defaultView.getComputedStyle(panel).width, 10 ); document.documentElement.addEventListener('mousemove', doDrag, false); document.documentElement.addEventListener('mouseup', stopDrag, false); }
    function doDrag(e) { document.getElementById("iframe").style.pointerEvents = "none"; e.preventDefault(); panel.style.width = (startWidth + e.clientX - startX) + 'px'; }
    function stopDrag(e) { document.getElementById("iframe").style.pointerEvents = ""; e.preventDefault(); document.documentElement.removeEventListener('mousemove', doDrag, false); document.documentElement.removeEventListener('mouseup', stopDrag, false); localStorage.setItem( "linotype_panel_width", (startWidth + e.clientX - startX) + 'px' ); }
    panel.style.width = localStorage.getItem('linotype_panel_width');
    </script>
    {{ linotype_script() }}
    {{ linotype_style() }}
</body>
</html>