<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Website{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <script async="" defer="" src="{{ asset('assets/js/frontend.js') }}"></script>
        <link href="{{ asset('assets/css/frontend.css') }}" rel="stylesheet">
    </head>
    <body>
        {{ linotype('theme') }}
        {{ linotype_script() }}
        {{ linotype_style() }}
    </body>
</html>