<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Viewer</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <meta name="turbo-visit-control" content="reload">
        {% if type == 'field' %}
            <script async="" defer="" src="{{ asset('assets/js/backend.js') }}"></script>
            <link href="{{ asset('assets/css/backend.css') }}" rel="stylesheet">
        {% else %}
            <script async="" defer="" src="{{ asset('assets/js/frontend.js') }}"></script>
            <link href="{{ asset('assets/css/frontend.css') }}" rel="stylesheet">
        {% endif %}
        <style>
            html{
                background-image: linear-gradient(45deg, #F3F3F3 25%, transparent 25%), linear-gradient(-45deg, #F3F3F3 25%, transparent 25%), linear-gradient(45deg, transparent 75%, #F3F3F3 75%), linear-gradient(-45deg, transparent 75%, #F3F3F3 75%)!important;
                background-size: 16px 16px!important;
                background-position: 0 0, 0 8px, 8px -8px, -8px 0px!important;
                overflow:hidden!important;
                padding:0px!important;
                margin:0px!important;
            }
            body{ 
                position:relative!important;
                background:transparent!important;
                overflow:visible!important;
                padding:0px!important;
                margin:10px!important;
                height: auto!important;
                zoom: 75%;
            }
        </style>
    </head>
    <body>
        {{ linotype( type, id ) }}
        {{ linotype_script() }}
        {{ linotype_style() }}
    </body>
</html>