{% if text %}
  <div data-block-id="{{block.uid}}" id="{{block.id}}" class="{{block.class}}" data-controller="Title" style="{{ margin ? "margin:#{margin};" : '' }}{{ font_size ? "font-size:#{font_size}" : '' }}">
    <span>{{text|raw}}</span>
  </div>
{% endif %}