{% extends "@Linotype/admin.twig" %}

{% block content %}

    <div class="panel-block">

        <h1 class="text-dark">Dashboard</h1>

        <h2 class="text-primary">Activity</h2>

        <div class="timeline">
            <div class="timeline-item" id="timeline-example-1">
            <div class="timeline-left"><a class="timeline-icon" href="#timeline-example-1"></a></div>
            <div class="timeline-content">
                <div class="tile">
                <div class="tile-content">
                    <p class="tile-subtitle">March 2016</p>
                    <p class="tile-title">Initial commit</p>
                </div>
                </div>
            </div>
            </div>
            <div class="timeline-item" id="timeline-example-2">
            <div class="timeline-left"><a class="timeline-icon icon-lg" href="#timeline-example-2"><i class="icon icon-check"></i></a></div>
            <div class="timeline-content">
                <div class="tile">
                <div class="tile-content">
                    <p class="tile-subtitle">February 2017</p>
                    <p class="tile-title">New Documents experience</p>
                    <p class="tile-title"><a href="components.html#bars">Bars</a>: represent the progress of a task</p>
                    <p class="tile-title"><a href="components.html#steps">Steps</a>: progress indicators of a sequence of task steps</p>
                    <p class="tile-title"><a href="components.html#tiles">Tiles</a>: repeatable or embeddable information blocks</p>
                </div>
                <div class="tile-action">
                    <button class="btn">View</button>
                </div>
                </div>
            </div>
            </div>
            <div class="timeline-item" id="timeline-example-3">
            <div class="timeline-left"><a class="timeline-icon icon-lg" href="#timeline-example-3"><i class="icon icon-check"></i></a></div>
            <div class="timeline-content">
                <div class="tile">
                <div class="tile-content">
                    <p class="tile-subtitle">March 2017</p>
                    <p class="tile-title"><a href="elements.html#icons">Icons</a>: single-element, responsive and pure CSS icons</p>
                    <p class="tile-title"><a href="components.html#popovers">Popovers</a>: small overlay content containers</p>
                    <p class="tile-title"><a href="experimentals.html#calendars">Calendars</a>: date or date range picker and events display</p>
                    <p class="tile-title"><a href="experimentals.html#carousels">Carousels</a>: slideshows for cycling images</p>
                </div>
                <div class="tile-action">
                    <button class="btn">View</button>
                </div>
                </div>
            </div>
            </div>
        </div>
    
    </div>
    
    {# <h2 class="text-primary">Contents</h2>

     <div class="columns">
        {% for id, item in map %}
        <div class="column p-1 col-6 col-xs-12">
            <div class="card">
                <div class="card-header">

                    <div class="dropdown float-right">
                        <div class="btn-group"><a href="/admin/{{id}}/edit"
                                class="btn btn-primary">Edit</a><a
                                class="btn btn-primary dropdown-toggle" tabindex="0"><i
                                    class="icon icon-caret"></i></a>
                            <ul class="menu">
                                <li class="menu-item"><a href="{{item.path}}">View</a></li>
                                <li class="menu-item"><a href="/admin/{{id}}/new">New</a>
                                </li>
                                <li class="menu-item"><a href="/admin/{{id}}/delete">Delete</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="card-subtitle text-gray">{{ item.type }}</div>
                    <div class="card-title h5">{{ item.name }}</div>
                    <div class="card-subtitle text-gray">{{ item.template }}</div>

                </div>
                <div class="card-body">{{ item.desc }}</div>
            </div>
        </div>
        {% endfor %}
    </div> #}

{% endblock %}