{% extends "@Linotype/admin.twig" %}

{% block content %}

    <h1 class="text-dark">Dashboard</h1>

    <h2 class="text-primary">Activity</h2>

    <p>Lorem ipsum dolor sit adipiscing elit. </p>
    <p>Lorem ipsum dolor sit adipiscing elit. </p>
    <p>Lorem ipsum dolor sit adipiscing elit. </p>
    
    <h2 class="text-primary">Contents</h2>

    <div class="columns">
        {% for id, item in map %}
        <div class="column p-1 col-6 col-xs-12">
            <div class="card">
                <div class="card-header">

                    <div class="dropdown float-right">
                        <div class="btn-group"><a href="/admin/{{id}}/edit"
                                class="btn btn-primary">Edit</a><a
                                class="btn btn-primary dropdown-toggle" tabindex="0"><i
                                    class="icon icon-caret"></i></a>
                            <ul class="menu">
                                <li class="menu-item"><a href="{{item.path}}">View</a></li>
                                <li class="menu-item"><a href="/admin/{{id}}/new">New</a>
                                </li>
                                <li class="menu-item"><a href="/admin/{{id}}/delete">Delete</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="card-subtitle text-gray">{{ item.type }}</div>
                    <div class="card-title h5">{{ item.name }}</div>
                    <div class="card-subtitle text-gray">{{ item.template }}</div>

                </div>
                <div class="card-body">{{ item.desc }}</div>
            </div>
        </div>
        {% endfor %}
    </div>

{% endblock %}