{% extends "@Linotype/admin.twig" %}

{% block header %}
    <div class="panel-header-title">
        <h1 class="mb-0 mt-2">Users</h1>
        {# <a href="{{link_new}}" class="btn btn-primary panel-header-title-right">Add new</a> #}
    </div>
{% endblock %}

{% block content %}
    
    <div class="card-list">
        
        {% for item in items %}
        
            <div class="panel-block">
                <div class="dropdown float-right mt-1">
                    <div class="btn-group"><a href="{{item.link.edit}}" class="btn">Edit</a><a class="btn dropdown-toggle" tabindex="0"><i class="icon icon-caret"></i></a>
                        <ul class="menu">
                            <li class="menu-item"><a href="{{item.link.view}}">View</a></li>
                            <li class="menu-item"><a href="{{item.link.delete}}">Delete</a></li>
                        </ul>
                    </div>
                </div>
                <h4 class="text-primary mb-0 mt-2">{{item.title|raw}}</h4>
                <p class="text-secondary mb-1">{{item.info|raw}}</p>
                <div class="desc">
                {{item.desc|raw}}
                </div>
            </div>
            
        
        {% endfor %}
    
    </div>

{% endblock %}

{% block footer %}
    
{% endblock %}
