{% apply spaceless %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Linotype{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <script async="" defer="" src="{{ asset('assets/js/backend.js') }}"></script>
        {% block stylesheets %}
            <link href="{{ asset('assets/css/backend.css') }}" rel="stylesheet">
        {% endblock %}
    </head>
    <body>
        {% block body %}
        <div class="linotype-admin linotype-helper">
            <h1><a href="/">Website</a> | <a href="/admin">Administration</a> | Linotype</h1>
            <div class="row">
                <div class="col">
                    <div class="blocks inner">
                        <h2>Blocks - <a href="{{block.link}}">view</a></h2>
                        <ul>
                            {% for item in block.items %}
                                <li>
                                    <div class="name"><strong>{{ item.name }}</strong></div>
                                    <div class="desc">{{ item.desc }}</div>
                                    <div class="infos">
                                        v.<span class="version">{{ item.version|number_format(1) }}</span> by <span class="package">{{ item.author }}</span>
                                    </div>
                                    <a href="{{item.link}}">view</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <div class="col">
                    <div class="fields inner">
                        <h2>Fields - <a href="{{field.link}}">view</a></h2>
                        <ul>
                            {% for item in field.items %}
                                <li>
                                    <div class="name"><strong>{{ item.name }}</strong></div>
                                    <div class="desc">{{ item.desc }}</div>
                                    <div class="infos">
                                        v.<span class="version">{{ item.version|number_format(1) }}</span> by <span class="package">{{ item.author }}</span>
                                    </div>
                                    <a href="{{item.link}}">view</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <div class="col">
                    <div class="helpers inner">
                        <h2>Helpers - <a href="{{helper.link}}">view</a></h2>
                        <ul>
                            {% for item in helper.items %}
                                <li>
                                    <div class="name"><strong>{{ item.name }}</strong></div>
                                    <div class="desc">{{ item.desc }}</div>
                                    <div class="infos">
                                        v.<span class="version">{{ item.version|number_format(1) }}</span> by <span class="package">{{ item.author }}</span>
                                    </div>
                                    <a href="{{item.link}}">view</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <div class="col">
                    <div class="modules inner">
                        <h2>Modules - <a href="{{module.link}}">view</a></h2>
                        <ul>
                            {% for item in module.items %}
                                <li>
                                    <div class="name"><strong>{{ item.name }}</strong></div>
                                    <div class="desc">{{ item.desc }}</div>
                                    <div class="infos">
                                        v.<span class="version">{{ item.version|number_format(1) }}</span> by <span class="package">{{ item.author }}</span>
                                    </div>
                                    <a href="{{item.link}}">view</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <div class="col">
                    <div class="templates inner">
                        <h2>Templates - <a href="{{template.link}}">view</a></h2>
                        <ul>
                            {% for item in template.items %}
                                <li>
                                    <div class="name"><strong>{{ item.name }}</strong></div>
                                    <div class="desc">{{ item.desc }}</div>
                                    <div class="infos">
                                        v.<span class="version">{{ item.version|number_format(1) }}</span> by <span class="package">{{ item.author }}</span>
                                    </div>
                                    <a href="{{item.link}}">view</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <div class="col">
                    <div class="themes inner">
                        <h2>Themes - <a href="{{theme.link}}">view</a></h2>
                        <ul>
                            {% for item in theme.items %}
                                <li>
                                    <div class="name"><strong>{{ item.name }}</strong></div>
                                    <div class="desc">{{ item.desc }}</div>
                                    <div class="infos">
                                        v.<span class="version">{{ item.version|number_format(1) }}</span> by <span class="package">{{ item.author }}</span>
                                    </div>
                                    <a href="{{item.link}}">view</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        {% endblock %}
        {% block javascripts %}
            <script type="text/javascript">var linotype = [];</script>
        {% endblock %}
    </body>
</html>
{% endapply %}